.content {
  max-width: 1110px;
  margin: 0 auto;
}

.content__hero {
  height: 1050px;
}

.content__hero-intro {
  max-width: 539px;
  padding-top: 243px;
  box-sizing: border-box;
  font-size: 16px;
}

.content__hero-intro h1 {
  color: #091133;
  font-weight: 500;
  font-size: 3.125em;
  line-height: 1.320em;
  margin: 0;
}

.content__hero-intro p {
  line-height: 30px;
  font-size: 1.125em;
  margin: 20px 0 0 0;
}

.content__hero-intro p:last-child {
  margin: 14px 0 0 0;
}

.content__hero-btn {
  margin-top: 69px;
}

.content__hero-btn span {
    display: inline-block;
  width: 189px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  background-color: #111B47;
  font-size: 16px;
  color: white;
  font-weight: 500;
  transition: .3s;
  user-select: none;
  border-radius: 2px;
}

.content__hero-btn span:first-child:hover {
  opacity: 0.8;
}

.content__hero-btn span:last-child:hover {
  letter-spacing: 2px;
}

.content__hero-btn span:last-child {
  height: 32px;
  line-height: 32px;
  background-color: transparent;
  border: 2px solid #091133;
  color: #091133;
  margin-left: 25px;
}

.content__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.content__row h1 {
  color: #091133;
  font-weight: 500;
  font-size: 2.250em;
  margin: 0;
}

.content__row p {
  margin: 0;
  line-height: 1.625em;
}

.content__row p:first-child {
  margin: 16px 0 0 0;
}

.content__row p:last-child {
  margin: 10px 0 0 0;
}

.content__col {
  max-width: 540px;
}

.content__col img {
  max-width: 100%;
}

.content__row-1st {
  height: 742px;
}

.content__row-2nd {
  height: 569px;
}

.content__col-2-2 {
  max-width: 445px;
}

.content__row-2nd-btn {
  width: 150px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  margin-top: 40px;
}

.content__col-child {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.content__col-child div {
  width: 48%;
}

.content__col-child h3 {
  color: #091133;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

.content__col-child p {
  font-size: 12px;
  color: #5D6970;
  line-height: 18px;
}

@media (max-width: 1150px) {
  .content {
    margin: 0 20px;
  }
}

@media (max-width: 900px) {
  .content__hero {
    height: 800px;
  }
  .content__hero-intro {
    padding-top: 180px;
  }
}

@media (max-width: 768px) {
  .content__hero-intro {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .content__hero-intro {
    padding-top: 120px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .content__hero-intro {
    padding-top: 120px;
    font-size: 13px;
  }

  .content__hero-btn span {
    width: 160px;
  }
}

@media (max-width: 425px) {
  .content__hero {
    height: 700px;
  }
  .content__hero-intro {
    font-size: 12px;
    padding-top: 70px;
  }

  .content__hero-btn span {
    width: 150px;
  }
}

@media (max-width: 375px) {
  .content__hero-btn span {
    font-size: 14px;
    width: 130px;
  }

  .content__hero-btn span:last-child {
    margin-left: 15px;
  }
}

@media (max-width: 335px) {
  .content__hero-intro {
    font-size: 11px;
  }
  .content__hero-btn span {
    width: 120px;
  }
}