.header {
  max-width: 1110px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  width: 245px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav a {
  text-decoration: none;
  color: #37447E;
  font-size: 14px;
}

.header__nav a:hover {
  font-weight: 500;
}

.header__logo {
  width: 160px;
}

.header__logo a {
  font-size: 26px;
  color: #37447E;
  font-weight: 900;
  text-decoration: none;
}

.header__button {
  user-select: none;
  width: 160px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 2px;
  background-color: #111B47;
  text-align: center;
  cursor: pointer;
}

.header__button:hover {
  opacity: 0.8;
}

@media (max-width: 1150px) {
  .header {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    width: 200px;
    order: 2;
  }

  .header__button {
    width: 120px;
    order: 3;
  }

  .header__logo {
    order: 1;
    width: 130px;
  }
}

@media (max-width: 600px) {
  .header__nav {
    width: 170px;
  }
}

@media (max-width: 520px) {
  .header__nav {
    width: 160px;
  }

  .header__logo {
    width: 80px;
  }

  .header__button {
    width: 80px;
  }
}

@media (max-width: 425px) {
  .header {
    margin: 0 15px;
  }

  .header__logo {
    width: auto;
  }

  .header__logo a {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .header__nav {
    width: 150px;
  }
}

@media (max-width: 350px) {
  .header__logo a {
    font-size: 19px;
  }
  .header__nav {
    width: 140px;
  }

  .header__button {
    width: 70px;
  }
}