@import url('normalize.css');
@import url('header.css');
@import url('content.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #f8f8f8;
  color: #505F98;
}

.layout {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 0;
  background-color: white;
  overflow: hidden;
}

.layout__bg {
  width: 100%;
  position: absolute;
  right: -410px;
  top: -65px;
  bottom: 0;
  z-index: -1;
  text-align: right;
}

.layout__bg img {
  width: 100%;
}

.button {
  cursor: pointer;
  user-select: none;
  background-color: #111B47;
  color: white;
  text-align: center;
  border-radius: 2px;
}

.button:hover {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .layout__bg {
    top: 150px;
    right: -200px;
  }
}

@media (max-width: 768px) {
  .layout__bg {
    top: auto;
    right: -150px;
    bottom: 20px;
  }
}

@media (max-width: 425px) {
  .layout__bg {
    right: -100px;
  }
}